<h2 mat-dialog-title>New Author</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nationality</mat-label>
      <input matInput formControlName="nationality" />
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="submit()">Save</button>
</mat-dialog-actions>